* {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    background-image: url("../images/background_passive.png");
}

@media screen and (min-width: 1824px) {
    .wrapper {
        width: 50%;
    }
    .header {
        width: 30%;
    }
    .content {
        width: 70%;
    }
}
@media screen and (min-width: 1224px) and (max-width: 1824px) {
    .wrapper {
        width: 65%;
    }
    .header {
        width: 30%;
    }
    .content {
        width: 70%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1224px) {
    .wrapper {
        width: 85%;
    }
}


.wrapper {
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    box-shadow: .5em .5em .5em rgb(73, 73, 73);
}
.header {
    float: left;
    padding: 1%;
}

#tagline {
    padding-bottom: 2em;
    border-bottom: 2px solid black;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
    margin: 0;
}

.nav-links li {
    padding-top: .3em;
    padding-bottom: .3em;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
.social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content {
    margin: auto;
    float: left;
    padding: 1%;
}

.content p {
    line-height: 1.45em;
}


.footer {
    padding-top: 3%;
    text-align: center;
    clear: both;
    padding: 1%;
}

